.item-buyer-container {
    width: max-content;
    height: max-content;
    background-color: #EF8BA1;
    padding: 24px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
}

.item-buyer {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 240px;
    height: 300px;
    padding: 20px;
    margin: 16px;
    display: flex;
    align-items: center;
}

.image-container .image {
    border-radius: 16px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.data-container {
    margin-left: 40px;
    margin-right: 40px;
}

.data-container h1 {
    width: 470px;
    margin-top: 40px;
    border-bottom: 1px solid #ffffff5b;
}

.numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
}

.total-product {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: 1px solid #ffffff5b;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container .button-x {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.items-down-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.items-down-container .button-empty-cart {
    border: 1px solid #fff;
}

.items-down-container p {
    font-size: 28px;
}

@media (max-width: 1024px) {
    .item-buyer {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .image-container{
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 575px) {
    .item-buyer-container {
        width: 90%;
    }

    .data-container h1 {
        width: 90%;
    }

    .total-product {
        width: 90%;
    }
}

@media (max-width: 506px) {

    .items-down-container {
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 8px;   
    }

    .items-down-container .button-empty-cart {
        width: 130px;
        margin: 0 auto;
    }

    .items-down-container p {
        text-align: center;
        font-size: 20px;
    }
}