#card {
    margin: 10px;
    background-color: #212529;
    color: #fff;
    width: 18rem;
        padding: 1rem;
}

.card:hover {
    box-shadow: 5px 5px 10px var(--bs-white);
}

.image {
    width: 254px;
    height: 320px;
}
.price {
    margin: 5px;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    text-align: right;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #fff;
}
#button-container Button {
    border: 1px solid white;
    font-size: 90%;
}