/* #navbar-order {
    padding-left: 100px;
    padding-right: 40px
}
.navbar-collapse .nav-item {
    color: white;
}

.container-fluid .commerce-name {
    font-size: 32px;
}

.container-fluid .link{
    text-decoration: none;
}

.navbar-collapse .me-auto {
    font-size: 20px;
}
@media(max-width: 991px) {
    .navbar-collapse {
        display: flex;
    }

    .navbar-collapse .me-auto {
        display: flex;
        flex-direction: column;
    }
#navbar-order {
    padding: 8px 40px;

}

.container-fluid .commerce-name {
    padding-left: 40px;
}
}

@media(max-width: 575px) {
} */